body {
  border: 10px solid yellowgreen;
  height: 100vh;
  margin: 0;
}

#board {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid rgb(222, 248, 221);
  height: 550px;
  width: 550px;
  justify-content: center;
}

.square {
  border: 2px solid black;
  flex-grow: 1;
}

.divColumn {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  max-width: 95%;
  flex-grow: 1;
}
