body {
  border: 10px solid yellowgreen;
  height: 100vh;
  margin: 0;
}

#board {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid orange;
    height: 500px;
    width: 500px;
    justify-content: center;
}

.square {
    background-color: pink;
    border: 5px solid rgb(51, 0, 255);
    margin: 3px;
}